/* 푸터 스타일 */
.footer {
  background-color: #f8f9fa; /* 연한 회색 */
  padding: 50px 0;
}

/* 왼쪽 로고 */
.footer-logo {
  width: 170px;
  height: auto;
  margin-left: 100px; /* 왼쪽 끝에 붙이기 */
}

/* 오른쪽 4개 이미지 */
.footer-img {
  width: 150px;  /* 너비를 지정 */
  height: auto;  /* 비율 유지 */
  object-fit: contain; /* 이미지 비율 유지하면서 잘리지 않도록 설정 */
}
/* 회사 정보 */
.footer-info {
  font-size: 14px;
  color: #6c757d;
}
