.contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.contents > h3{
  color: #888;
  font-weight: bold;
  font-size: 1.5em;
}

.selects{
  display: flex;
  gap: 10px;
}

.line{
  width: 250px;
  border-bottom: 5px solid#aaa;
}

.form-select {
  width: auto !important;
}

#map {
  width: 80vw;
  min-width: 1000px;
  height: 70vh;
  min-height: 500px;
}